{% extends 'header.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
<div class="catalog-page-wrapper">
    <div class="hero-section">
        <div class="hero-content">
            <h1>КАТАЛОГ ТОВАРІВ</h1>
            <div class="search-container">
                <form action="{% url 'catalog' %}" method="GET" class="search-form" style="display: flex; width: 100%;">
                    <input type="text" name="q" placeholder="Що ви шукаєте?" value="{{ query|default:'' }}">
                    <button type="submit" class="search-btn">Знайти</button>
                </form>
            </div>
        </div> 
    </div>
</div>
 
<main class="catalog-main">
    <nav class="category-filters">    
        <a href="{% url 'catalog' %}?category=tshirts" 
            class="cat-link {% if current_category == 'tshirts' %}active{% endif %}">Футболки</a>
   
        <a href="{% url 'catalog' %}?category=hoodies" 
            class="cat-link {% if current_category == 'hoodies' %}active{% endif %}">Худі</a>
   
        <a href="{% url 'catalog' %}?category=shoppers" 
            class="cat-link {% if current_category == 'shoppers' %}active{% endif %}">Шопери</a>
   
        <a href="{% url 'catalog' %}?category=hats" 
            class="cat-link {% if current_category == 'hats' %}active{% endif %}">Шапки</a>
    </nav>

    <div class="product-grid">
        {% for product in products %}
        <div class="product-card"
            data-id="{{ product.id }}"
            data-article="{{ product.article }}"
            data-price="{{ product.discount_price }}"
            onmouseenter="startImageCycle(this)" 
            onmouseleave="stopImageCycle(this)">

            <div class="image-container">
                <div class="card-actions">
                    <button class="wishlist-btn" onclick="toggleFavorite(this)">
                        <!-- <img src="{% static 'img/heart_icon.png' %}" alt="Favorite"> -->
                         <img
src="{% static 'img/addtoswishlist.png' %}"
data-default="{% static 'img/addtowishlist.png' %}"
data-active="{% static 'img/blackheart.png' %}"
alt="Favorite"
>
                    </button>
                    <button class="cart-btn" onclick="addToCart(this)">
                        <!-- <img src="{% static 'img/bag_icon.png' %}" alt="Add to Cart"> -->
                         <img
src="{% static 'img/addtoshopping-png' %}"
data-default="{% static 'img/addtoshopping.png' %}" data-active="{% static 'img/blackbag.png' %}"
alt="Add to Cart"
>
                    </button>
                </div>

                <a href="{% url 'product_detail' product.id %}">
                    <div class="image-box">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="main-img" alt="{{ product.name }}">
                        {% endif %}

                        <div class="extra-images" style="display:none;">
                            {% for color in product.colors.all %}
                                {% for img in color.images.all %}
                                    <span data-src="{{ img.image.url }}"></span>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </a>
            </div>

            <div class="product-info">
                <h3 class="product-name">{{ product.name }}</h3>
                {% if product.discount_percentage > 0 %}
                    <p class="product-price">
                        <span class="discount-price">
                            {{ product.discount_price }} грн
                        </span>
                        <span class="old-price">
                            {{ product.price }} грн
                        </span>
                    </p>
                {% else %}
                    <p class="product-price">{{ product.price }} грн</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <button class="load-more-btn">Загрузити ще</button>

    </div>
</main>

{% include 'info_table.html' %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/catalog.js' %}"></script>
{% endblock %}