{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IT'SHOP{% endblock %}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="navbar">
        <div class="logo-container">
            <a href="{% url 'main' %}" class="logo">
                <img src="{% static 'img/logo.png' %}" alt="Logo">
            </a>
            <nav class="nav-links">
                <a href="{% url 'catalog' %}">Каталог</a>
            </nav>
        </div>
        <div class="user-icons">
            <a href="#" class="icon-link" id="fav-icon-trigger">
                <img src="{% static 'img/Group1.jpeg' %}" alt="saved" class="icon">
                <span id="fav-count" class="badge">0</span>
            </a>

            <a href="#" class="icon-link" id="cart-icon-trigger">
                <img src="{% static 'img/Group2.jpeg' %}" alt="cart" class="icon">
                <span id="cart-count" class="badge">0</span>
            </a>

            <nav class="nav-links">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="welcome-link">
                        <span>Профіль</span>
                    </a>
                {% else %}
                    <a href="{% url 'welcome' %}" class="welcome-link">
                        <span>Увійти</span>
                    </a>
                {% endif %}
            </nav>
        </div>
    </header>

    {% block content %}{% endblock %}
    
    {% include 'modals.html' %}
    <script src="{% static 'js/modals.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>