{% load static %}
<link rel="stylesheet" href="{% static 'css/info_table.css' %}">
<footer class="site-footer">
    <table class="info-table">
        <tr>
            <td><img src="{% static 'img/logo.png' %}"></td>
            <td><h2>LOREM IPSUM</h2><h2>LOREM IPSUM</h2><h2>LOREM IPSUM</h2></td>
            <td><h2>LOREM IPSUM</h2><h2>LOREM IPSUM</h2><h2>LOREM IPSUM</h2></td>
            <td><h2>LOREM IPSUM</h2><h2>LOREM IPSUM</h2></td>
            <td><h2>LOREM IPSUM</h2><h2>LOREM IPSUM</h2><h2>LOREM IPSUM</h2><h2>LOREM IPSUM</h2></td>
        </tr>
    </table>
    <hr>
</footer>