{% extends 'header.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<div class="auth-wrapper login-page">
    <div class="auth-image">
        <img src="{% static 'img/auth_bg.png' %}" alt="Login">
    </div>

    <div class="auth-form-container">
        <form class="auth-form" method="POST">
            {% csrf_token %}
            <h2>ЛОГІН</h2>
            
            {% if messages %}
                <div class="messages" style="margin-bottom: 20px;">
                    {% for message in messages %}
                        <p class="error-message" style="color: #ff4d4d; font-size: 14px; text-align: center; font-weight: 600;">
                            {{ message }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group" >
                <input  type="email" id="email" name="email" placeholder=" " required>
                <label for="email">Електронна пошта</label>
            </div>

            <div class="input-group">
                <input type="password" id="password" name="password" placeholder=" " required>
                <label for="password">Пароль</label>
            </div>

            

            <button type="submit" class="btn-auth-submit">УВІЙТИ</button>
            <p class="auth-footer">Немає акаунту? <a href="{% url 'register' %}">Зареєструватися</a></p>
        </form>
    </div>
</div>

{% include 'info_table.html' %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}