{% extends 'header.html' %} 
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
{% endblock %}

{% block content %}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<section class="home-bg">
    <div class="welcome-content">
        <h1>Вітаємо на сайті мерчу IT Степ Університету!</h1>
        <h2>Вже маєте акаунт, чи хочете створити?</h2>
        <div class="welcome-buttons">
            <a href="{% url 'register' %}" class="btn btn-blue">Я новий клієнт</a>
            <a href="{% url 'login' %}" class="btn btn-outline">Вже маю акаунт</a>
            <a href="{% url 'profile' %}" class="btn btn-outline">Мій профіль</a>
        </div>
    </div>
    {% include 'info_table.html' %}
    
</section>
{% endblock %}

<script src="{% static 'js/main.js' %}"></script>